@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *,
  *::after,
  *::before {
    @apply box-border scroll-smooth;
  }
  html {
    @apply h-full;
  }

  body {
    @apply overflow-x-hidden h-full;
  }

  p {
    @apply text-white;
  }

  input {
    border-radius: 0.125rem;
    background-color: #6b7c93;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    outline: none;
    width: 80%;
    margin-top: 2px;
  }

  ::-webkit-scrollbar {
    @apply w-2;
  }

  ::-webkit-scrollbar-thumb {
    @apply rounded-md bg-blue-500;
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
